* {
    box-sizing:border-box;
    margin: 0;
    padding:0;
    outline:0;
    font-family: sans-serif;
}
html, body
{
    font-size: 14px;
    font-weight: 400;
    background: #000000;
    color:#fff;
}
.container
{
    width: 1100px;
    margin:0px auto;
    display: table;
}
.width-33
{
    width:33%;
    float:left;
}
.width-66
{
    width:66%;
    float: left;
}
.main-panel
{
    width: 100%;
    float: left;
    padding-top: 20px;
    padding-bottom: 50px;
    height: 100vh;
}
.span-col
{
    color:rgb(214, 21, 21);
}
nav
{
    float: right;
}
nav a{
    font-size:16px;
     margin-left:20px;
     color:white;
}
.width-50
{
    float: left;
    width: 75%;
}
.pad
{
    padding-left:370px;
}
.banner-section
{
    width:100%;
    float: left;
    margin-top:25vh;
}
.banner-section h1
{
    font-size: 48px;
    margin-top:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner-section h2{
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
    font-weight: 400;
    font-family:'Times New Roman', Times, serifx;
    color:beige;
}
.banner-section a{
    float:left;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid rgb(214, 21, 21);
    color: rgb(214, 21, 21);
    margin-left: 10px;
    height: 50px;
    width: 50px;
    line-height:50px;
}
 img{
    width:60%;
    margin-left:60%;
    margin-top:-40%;
    margin-bottom: 20%;
}
.main-section
{
    width: 100%;
    float: left;
    padding: 110px 0px 110px 0px;
}
.bg-lightgrey
{
    background-color:#1a1a1a;
}
.mt-20
{
    margin: top 20px;
}
.heading-text
{
    padding-left:50px;
    width:100%;
    font-size:40px;
    margin-bottom:50px;
    text-align:center;
    color:rgb(214, 21, 21);
}
.about-us p{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top:15px;
    line-height:30px;
    text-align:left;
}
table{
    width:100%
}
table th, table td{
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
    text-align: left;
    padding: 5px 0px;

}
table th{
    color:rgb(214, 21, 21);
}
.edu-exp
{
    padding: 10px 0px;
    width: 48%;
    margin:1%;
    float:left;
    padding-left: 10px;
}
.experience-list
{
    width: 100%;
    float: left;
    padding: 30px 10px;
    background: #262626;
    margin-bottom: 20px;
}
.experience-content
{
    width: 100%;
    float:left;
    margin-left: 10px;
}
.experience-content h2{
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 20px;
}
.experience-content h3{
    color: rgb(214, 21, 21);
    font-weight: 500;
    margin-bottom: 2px;
    font-size: 17px;
}
.experience-content p{
    font-size: 15px;
    color:bisque;
}
form{
    width:66%;
    margin: 0px auto;
}
input,textarea
{
    width: 100%;
    float: left;
    margin-bottom:20px;
    height: 40px;
    padding: 10px;
    border: 1px solid #1a1a1a;
}
button{
    width: 100%;
    float: left;
    margin-bottom:20px;
    height: 40px;
    padding: 10px;
    background: rgb(163, 159, 159);;
    color:black;
    font-size: 16px;
}
.submit
{
    width: 100px;  
    padding-left: 335px;
height: 1px;  
display: grid;  
}
footer
{
    font-size: 20px;
    color: rgb(214, 21, 21);
    font-family: "Lucida Console", "Courier New", monospace;
    margin-bottom:10%;
}
.para
{
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
    color: beige;
    margin-bottom:18%;
}